# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# The .vscode folder contains launch configuration and tasks you configure in
# VS Code which you may wish to be included in version control, so this line
# is commented out by default.
#.vscode/

# Flutter/Dart/Pub related
**/doc/api/
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
/build/

# Web related
lib/generated_plugin_registrant.dart

# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json

# Exceptions to above rules.
!/packages/flutter_tools/test/data/dart_dependencies_test/**/.packages
android/app/src/main/res/harambeesaccoo.dummyprojects.xyz/workdisplay.php
android/app/src/main/res/harambeesaccoo.dummyprojects.xyz/work.php
android/app/src/main/res/harambeesaccoo.dummyprojects.xyz/vendordisplay.php
android/app/src/main/res/harambeesaccoo.dummyprojects.xyz/user/
android/app/src/main/res/harambeesaccoo.dummyprojects.xyz/user.zip
android/app/src/main/res/harambeesaccoo.dummyprojects.xyz/style.css
android/app/src/main/res/harambeesaccoo.dummyprojects.xyz/style-mobile.css
android/app/src/main/res/harambeesaccoo.dummyprojects.xyz/sidebar.php
android/app/src/main/res/harambeesaccoo.dummyprojects.xyz/public/js/index.js
android/app/src/main/res/harambeesaccoo.dummyprojects.xyz/public/images/noimage.jpg
android/app/src/main/res/harambeesaccoo.dummyprojects.xyz/public/images/logo2.png
android/app/src/main/res/harambeesaccoo.dummyprojects.xyz/profile.php
android/app/src/main/res/harambeesaccoo.dummyprojects.xyz/main.php
android/app/src/main/res/harambeesaccoo.dummyprojects.xyz/logout.php
android/app/src/main/res/harambeesaccoo.dummyprojects.xyz/login.php
android/app/src/main/res/harambeesaccoo.dummyprojects.xyz/index.php
android/app/src/main/res/harambeesaccoo.dummyprojects.xyz/housesdisplay.php
android/app/src/main/res/harambeesaccoo.dummyprojects.xyz/header.php
android/app/src/main/res/harambeesaccoo.dummyprojects.xyz/functions.php
android/app/src/main/res/harambeesaccoo.dummyprojects.xyz/footer.php
android/app/src/main/res/harambeesaccoo.dummyprojects.xyz/error_log
android/app/src/main/res/harambeesaccoo.dummyprojects.xyz/download.php
android/app/src/main/res/harambeesaccoo.dummyprojects.xyz/database/config.php
android/app/src/main/res/harambeesaccoo.dummyprojects.xyz/admin/workupload.php
android/app/src/main/res/harambeesaccoo.dummyprojects.xyz/admin/workdisplay.php
android/app/src/main/res/harambeesaccoo.dummyprojects.xyz/admin/work.php
android/app/src/main/res/harambeesaccoo.dummyprojects.xyz/admin/vendordisplay.php
android/app/src/main/res/harambeesaccoo.dummyprojects.xyz/admin/vendordispay.php
android/app/src/main/res/harambeesaccoo.dummyprojects.xyz/admin/style.css
android/app/src/main/res/harambeesaccoo.dummyprojects.xyz/admin/style-mobile.css
android/app/src/main/res/harambeesaccoo.dummyprojects.xyz/admin/sidebar.php
android/app/src/main/res/harambeesaccoo.dummyprojects.xyz/admin/securityupload.php
android/app/src/main/res/harambeesaccoo.dummyprojects.xyz/admin/public/js/index.js
android/app/src/main/res/harambeesaccoo.dummyprojects.xyz/admin/public/images/logo2.png
android/app/src/main/res/harambeesaccoo.dummyprojects.xyz/admin/profileupload.php
android/app/src/main/res/harambeesaccoo.dummyprojects.xyz/admin/profile.php
android/app/src/main/res/harambeesaccoo.dummyprojects.xyz/admin/private/admin.php
android/app/src/main/res/harambeesaccoo.dummyprojects.xyz/admin/main.php
android/app/src/main/res/harambeesaccoo.dummyprojects.xyz/admin/logout.php
android/app/src/main/res/harambeesaccoo.dummyprojects.xyz/admin/login.php
android/app/src/main/res/harambeesaccoo.dummyprojects.xyz/admin/index.php
android/app/src/main/res/harambeesaccoo.dummyprojects.xyz/admin/housesdisplay.php
android/app/src/main/res/harambeesaccoo.dummyprojects.xyz/admin/header.php
android/app/src/main/res/harambeesaccoo.dummyprojects.xyz/admin/functions.php
android/app/src/main/res/harambeesaccoo.dummyprojects.xyz/admin/footer.php
android/app/src/main/res/harambeesaccoo.dummyprojects.xyz/admin/files/WIN_20191022_13_19_44_Pro_edited.jpg
android/app/src/main/res/harambeesaccoo.dummyprojects.xyz/admin/files/Sovereign Grace.wpl
android/app/src/main/res/harambeesaccoo.dummyprojects.xyz/admin/files/reviewed benfits.xlsx
android/app/src/main/res/harambeesaccoo.dummyprojects.xyz/admin/files/prostranscription (1).sql
android/app/src/main/res/harambeesaccoo.dummyprojects.xyz/admin/files/img.png
android/app/src/main/res/harambeesaccoo.dummyprojects.xyz/admin/files/app.js
android/app/src/main/res/harambeesaccoo.dummyprojects.xyz/admin/files/ADORN S01E07..docx
android/app/src/main/res/harambeesaccoo.dummyprojects.xyz/admin/files/admin.jpg
android/app/src/main/res/harambeesaccoo.dummyprojects.xyz/admin/files/A STATEMENT FROM PDB ON COVID-19.docx
android/app/src/main/res/harambeesaccoo.dummyprojects.xyz/admin/files/A STATEMENT FROM PDB ON COVID-19 (3).docx
android/app/src/main/res/harambeesaccoo.dummyprojects.xyz/admin/error_log
android/app/src/main/res/harambeesaccoo.dummyprojects.xyz/admin/doneworks.php
android/app/src/main/res/harambeesaccoo.dummyprojects.xyz/admin/.htaccess
android/app/src/main/res/harambeesaccoo.dummyprojects.xyz/.htaccess
